body{
    margin: 0px;
    padding: 0%;
}
.header{
    height: 100px;
    border-bottom: 1px rgb(217, 218, 220) solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Login-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.Login{
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    gap: 10px;
    &-middleline{
        font-size: 13px;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: center;
        align-items: center;
        &-line{
            width: 200px;
            border-top: 1px solid rgb(217, 218, 220);
        }
    }
    &-methods{
        color: white;
        width: 450px;
        border-radius: 500px;
        height: 48px;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        justify-content: center;
        border: 1px rgb(182, 177, 177) solid;
        &:hover{
            border: 1px black solid;
        }
        &-text{
            font-weight: 700;
            font-size: small;
        }
    }
    &-input{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        &-submit{
            display: flex;
            flex-direction: row;
            width: 450px;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;
            &-submit{
                height:50px;
                width: 130px;
                display: flex;
                align-items: center;
                justify-content: center;
                &-1{
                   height: 48px;
                width: 124px;
                border-radius: 500px;
                background-color: #1ed760;
                color: black;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                &:hover{
                    height: 100%;
                    width: 100%;
                    font-size: 15px;
                    background-color: rgb(30, 215, 70);
                }
                }
            }
            &-left{
                font-size: 13px;
            }
            &-button{
                background: rgb(0, 160, 27);
                height: 20px;
            }
            font-size: 12px;
        }
        &-item{
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            font-weight: 500;
        }
        &-input{
            width: 450px;
            height: 52px;
            border-radius: 4px;
            border: 1px black solid;
            font-size: 1rem;
            padding-left: 15px;
        }
    }
}
.mid{
    justify-content: center;
    width: 100%;
    display: flex;
    &-2{
       justify-content: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
        gap: 15px;
    }
    &-button{
        width: 450px;
        height: 45px;
        border-radius: 500px;
        background-color: #ffffff;
        border: 1px rgb(185, 185, 185) solid;
        display: flex;
        align-items: center;
        justify-content: center;
        color:rgb(139, 139, 139);
        font-size: 16px;
        font-weight: 600;
        &:hover{
            border: 1px black solid;
        }
    }
}
.line{
    width: 450px;
    height: 1px;
    border-top: 3px solid rgb(217, 218, 220);
}

.error{
    width: 450px;
    height: 48px;
    background-color: #e91429;
    display: none;
    align-items: center;
    color: white;
    font-size: small;
    flex-direction: row;
    font-size: 14px;
    margin-bottom: 15px;
}