$main-background-color: rgb(100, 100, 100);

.Main-container{
    padding-top: 20px;
    height: 100%;
    width: 100%;
    background: transparent;
    background: $main-background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
}