$main-background-color: linear-gradient(78deg, rgb(0, 0, 0) 0%, rgb(68, 66, 66) 100%);;


.MainLibrary{
    height: auto;
    width: 100%;
    background: transparent;
    background: $main-background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: none;
    &-header{
        height: 40vh;
        background: rgb(255, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: left;
        z-index: 2;
    }
}
.a{
    z-index: 1;
    width: 100%;
    height: 30vh;
    background: blue;
}
.box{
    height: 300px;
    width: 200px;
    background: black;
}