.Playlist {
  &-container {
    display: flex;
    flex-direction: column;
    grid: row;
    width: 95%;
    height: 360px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding-right:20px ;
  }
  &-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 95%;
    height: 20%;
    margin-top: 20px;
    &-big {
      font-size: 22px;
      color: white;
      font-weight: 500;
      &:hover{
          text-decoration: underline;
          cursor: pointer;
      }
      &-cont{
          display: flex;
          flex-direction: column;
      }
      &-bottom{
        color: #b3b3b3;
        font-size: 12px;
      }
    }
    &-small{
        font-size: 14px;
        color: #b3b3b3;
        font-weight: 500;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
  }
  &-item{
    &-container{
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
      width: 100%;
      height: 90%;
      overflow-y:hidden;
      overflow-x: hidden;
      grid-gap: 24px;
      &-item{
        position: relative;
        max-width: 230px;
        height: 220px;
        border-radius:13px;
        background: #181818;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        gap: 30px;
        transition: 0.3s;
        &:hover{
          cursor: pointer;
          background:#ffffff0c;
          .animation{
            display: flex;
          }
        }
        &-text{
          height: 30%;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 15px;
          &-top{
            font-size: 14px;
            color: white;
            font-weight: 600;
            overflow:hidden ;
          }
          &-bottom{
            font-size: 13px;
            font-weight: 600;
            color: #b3b3b3;
            overflow:hidden ;
          }
        }
        &-img{
          height: 60%;
          width: 100%;
          gap: 10px;
        }
      }
    }
    }
}
.box {
  height: 100%;
  width: 180px;
  border-radius: 50px;
  background: blueviolet;
}

@keyframes play {
  0% {top: 60%;}
  100%{top: 43%;}  
}
.animation{
  right: 14%;
  position: absolute;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  height: 32px;
  width: 32px;
  background: rgb(41, 182, 48);
  border-radius: 50%;
  display: none;
  flex-direction: column;
  align-items: center;justify-content: center;
  animation-name: play;
  animation-duration: 0.1s;
  transform: rotate(90deg);
  &:hover{
    height: 35.5px;
    width: 35.5px;
    cursor:default;
  }
}