.Playlist {
  &-container {
    display: flex;
    flex-direction: column;
    grid: row;
    width: 95%;
    height: 360px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding-right:20px ;
  }
  &-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 95%;
    height: 20%;
    margin-top: 20px;
    &-big {
      font-size: 22px;
      color: white;
      font-weight: 500;
      &:hover{
          text-decoration: underline;
          cursor: pointer;
      }
      &-cont{
          display: flex;
          flex-direction: column;
      }
      &-bottom{
        color: #b3b3b3;
        font-size: 12px;
      }
    }
    &-small{
        font-size: 14px;
        color: #b3b3b3;
        font-weight: 500;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
  }
  &-item{
    &-container{
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
      width: 100%;
      height: 90%;
      overflow-y:hidden;
      overflow-x: hidden;
      grid-gap: 24px;
      &-item{
        max-width: 270px;
        height: 220px;
        border-radius:13px;
        background: #181818;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        gap: 30px;
        &-text{
          display: flex;
          flex-direction: column;
          gap: 15px;
          &-top{
            font-size: 14px;
            color: white;
            font-weight: 600;
            overflow:hidden ;
          }
          &-bottom{
            font-size: 13px;
            font-weight: 600;
            color: #b3b3b3;
            overflow:hidden ;
          }
        }
        &-img{
          height: 60%;
          width: 100%;
          gap: 10px;
        }
      }
    }
    }
}
.box {
  height: 100%;
  width: 180px;
  border-radius: 50px;
  background: blueviolet;
}
